lesson3/3-2_switchnode.json
[{"id":"6ec4dcef.913b24","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"14e78330.eb187d","type":"mqtt in","name":"","topic":"noderedlecture/sensor","broker":"6ec4dcef.913b24","x":171.0994415283203,"y":332.0909118652344,"z":"a2a2c218.5d5d4","wires":[["dfc34d9.f203cb"]]},{"id":"67d23918.982dc8","type":"switch","name":"","property":"payload.analyze","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":354.6987609863281,"y":332.18182373046875,"z":"a2a2c218.5d5d4","wires":[["6d8dd36.f92722c"],["4a938f5.fb56c7"]]},{"id":"dfc34d9.f203cb","type":"json","name":"","x":282.69883728027344,"y":274.18182373046875,"z":"a2a2c218.5d5d4","wires":[["67d23918.982dc8"]]},{"id":"6d8dd36.f92722c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":515.0994262695312,"y":278.0909118652344,"z":"a2a2c218.5d5d4","wires":[]},{"id":"4a938f5.fb56c7","type":"debug","name":"","active":true,"console":"false","complete":"false","x":510.09942626953125,"y":367.0909118652344,"z":"a2a2c218.5d5d4","wires":[]}]
