lesson3/3-3_changenode.json
[{"id":"6ec4dcef.913b24","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"3880a946.c77f56","type":"mqtt in","name":"","topic":"noderedlecture/sensor","broker":"6ec4dcef.913b24","x":123.09944152832031,"y":515,"z":"a2a2c218.5d5d4","wires":[["ce7bdcab.31842"]]},{"id":"4848edd7.b7b714","type":"switch","name":"","property":"payload.analyze","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":306.6987609863281,"y":515.0909118652344,"z":"a2a2c218.5d5d4","wires":[["28ebaa52.d71456"],["6ebc384d.9143c8"]]},{"id":"ce7bdcab.31842","type":"json","name":"","x":234.69883728027344,"y":457.0909118652344,"z":"a2a2c218.5d5d4","wires":[["4848edd7.b7b714"]]},{"id":"6ebc384d.9143c8","type":"change","name":"","rules":[{"t":"set","p":"payload.note","to":"this is not being analysed"}],"action":"","property":"","from":"","to":"","reg":false,"x":374.6988067626953,"y":564.0909423828125,"z":"a2a2c218.5d5d4","wires":[["3596e410.ca691c"]]},{"id":"3596e410.ca691c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":574.6988372802734,"y":543.0909423828125,"z":"a2a2c218.5d5d4","wires":[]},{"id":"28ebaa52.d71456","type":"debug","name":"","active":true,"console":"false","complete":"false","x":489.09942626953125,"y":478,"z":"a2a2c218.5d5d4","wires":[]}]
