lesson3/3-4_rbenode.json
[{"id":"6ec4dcef.913b24","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"e5b87c48.1a478","type":"mqtt in","name":"","topic":"noderedlecture/sensor","broker":"6ec4dcef.913b24","x":109.09944152832031,"y":741.9090576171875,"z":"a2a2c218.5d5d4","wires":[["faeb9330.05147"]]},{"id":"1051d99c.efae26","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":652.6988220214844,"y":701.9090576171875,"z":"a2a2c218.5d5d4","wires":[]},{"id":"68014717.97feb8","type":"switch","name":"","property":"payload.analyze","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":292.6987609863281,"y":741.9999694824219,"z":"a2a2c218.5d5d4","wires":[["845f6b52.7ba098"],["e664669.f199b98"]]},{"id":"faeb9330.05147","type":"json","name":"","x":220.69883728027344,"y":683.9999694824219,"z":"a2a2c218.5d5d4","wires":[["68014717.97feb8"]]},{"id":"2f9686ca.d0697a","type":"comment","name":"Analyze = true","info":"","x":404.6988525390625,"y":656.9999694824219,"z":"a2a2c218.5d5d4","wires":[]},{"id":"bb7c3be1.4483c8","type":"rbe","name":"rbe","func":"deadband","gap":"20%","x":599.6988220214844,"y":652.9999694824219,"z":"a2a2c218.5d5d4","wires":[["1051d99c.efae26"]]},{"id":"845f6b52.7ba098","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.value"}],"action":"","property":"","from":"","to":"","reg":false,"x":422.6988220214844,"y":692.9999694824219,"z":"a2a2c218.5d5d4","wires":[["bb7c3be1.4483c8"]]},{"id":"e664669.f199b98","type":"change","name":"","rules":[{"t":"set","p":"payload.note","to":"this is not being analysed"}],"action":"","property":"","from":"","to":"","reg":false,"x":434.6988067626953,"y":782.9999694824219,"z":"a2a2c218.5d5d4","wires":[["383f2d9b.c7c0d2"]]},{"id":"383f2d9b.c7c0d2","type":"debug","name":"","active":true,"console":"false","complete":"false","x":652.6988220214844,"y":753.9999694824219,"z":"a2a2c218.5d5d4","wires":[]}]
