lesson3/3-5_rangenode.json
[{"id":"6ec4dcef.913b24","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"69080c4b.96f7f4","type":"mqtt in","name":"","topic":"noderedlecture/sensor","broker":"6ec4dcef.913b24","x":114.09944152832031,"y":957.6363525390625,"z":"a2a2c218.5d5d4","wires":[["ff3b2fc.f00c4d"]]},{"id":"60e9547d.9f16ac","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":657.6988220214844,"y":917.6363525390625,"z":"a2a2c218.5d5d4","wires":[]},{"id":"7703fe34.88fc","type":"switch","name":"","property":"payload.analyze","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":297.6987609863281,"y":957.7272644042969,"z":"a2a2c218.5d5d4","wires":[["55768737.aa8978"],["7020d33.f8fdf2c","2d0354b2.d2fcac"]]},{"id":"ff3b2fc.f00c4d","type":"json","name":"","x":225.69883728027344,"y":899.7272644042969,"z":"a2a2c218.5d5d4","wires":[["7703fe34.88fc"]]},{"id":"6d28b8c1.92d748","type":"comment","name":"Analyze = true","info":"","x":409.6988525390625,"y":872.7272644042969,"z":"a2a2c218.5d5d4","wires":[]},{"id":"db93bc20.246c4","type":"comment","name":"Analyze = false","info":"","x":411.6988220214844,"y":1080.7272644042969,"z":"a2a2c218.5d5d4","wires":[]},{"id":"a9319158.56ce7","type":"rbe","name":"rbe","func":"deadband","gap":"20%","x":604.6988220214844,"y":868.7272644042969,"z":"a2a2c218.5d5d4","wires":[["60e9547d.9f16ac"]]},{"id":"55768737.aa8978","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.value"}],"action":"","property":"","from":"","to":"","reg":false,"x":427.6988220214844,"y":908.7272644042969,"z":"a2a2c218.5d5d4","wires":[["a9319158.56ce7"]]},{"id":"2b40b78c.d4bf48","type":"range","minin":"0","maxin":"10","minout":"0","maxout":"255","action":"clamp","round":false,"name":"","x":569.6988220214844,"y":1072.7272644042969,"z":"a2a2c218.5d5d4","wires":[["3530448c.cacfbc"]]},{"id":"2d0354b2.d2fcac","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.value"}],"action":"","property":"","from":"","to":"","reg":false,"x":424.6988220214844,"y":1041.7272644042969,"z":"a2a2c218.5d5d4","wires":[["2b40b78c.d4bf48"]]},{"id":"3530448c.cacfbc","type":"debug","name":"","active":true,"console":"false","complete":"false","x":659.6988220214844,"y":1021.7272644042969,"z":"a2a2c218.5d5d4","wires":[]},{"id":"7020d33.f8fdf2c","type":"change","name":"","rules":[{"t":"set","p":"payload.note","to":"this is not being analysed"}],"action":"","property":"","from":"","to":"","reg":false,"x":439.6988067626953,"y":998.7272644042969,"z":"a2a2c218.5d5d4","wires":[["9d7e4096.6281c"]]},{"id":"9d7e4096.6281c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":657.6988220214844,"y":969.7272644042969,"z":"a2a2c218.5d5d4","wires":[]}]
