lesson3/3-6_mqqtout.json
[{"id":"6ec4dcef.913b24","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"604724b6.9fb8dc","type":"mqtt out","name":"","topic":"noderedlecture/sensor","qos":"","retain":"","broker":"6ec4dcef.913b24","x":414.99998474121094,"y":733.9999694824219,"z":"53cf281b.ac30d8","wires":[]},{"id":"ec38975a.13c768","type":"inject","name":"{\"analyze\":false, \"value\":10}","topic":"","payload":"{\"analyze\":false, \"value\":6}","payloadType":"string","repeat":"","crontab":"","once":false,"x":144,"y":680.9999694824219,"z":"53cf281b.ac30d8","wires":[["604724b6.9fb8dc"]]},{"id":"83e4684e.7c1b98","type":"inject","name":"{\"analyze\":true, \"value\":6}","topic":"","payload":"{\"analyze\":true, \"value\":6}","payloadType":"string","repeat":"","crontab":"","once":false,"x":156,"y":730.9999694824219,"z":"53cf281b.ac30d8","wires":[["604724b6.9fb8dc"]]},{"id":"47a5dc83.b85a24","type":"inject","name":"{\"analyze\":true, \"value\":1}","topic":"","payload":"{\"analyze\":true, \"value\":10}","payloadType":"string","repeat":"","crontab":"","once":false,"x":153,"y":779.9999694824219,"z":"53cf281b.ac30d8","wires":[["604724b6.9fb8dc"]]}]
