lesson7/twittercontrol.json
[{"id":"3996dbd8.c66924","type":"twitter in","twitter":"","tags":"#noderedguide","user":"false","name":"","topic":"tweets","x":319,"y":182,"z":"4b6c692b.b49398","wires":[["d5531592.2aace8","c2b661d8.3d49a"]]},{"id":"d5531592.2aace8","type":"function","name":"Parse","func":"var command = msg.payload.split(' ')[1]; \nvar value = msg.payload.split(' ')[2];\nreturn {\n        payload: {\n            command: command, \n            value: value\n        }\n    };","outputs":1,"noerr":0,"x":421.10418701171875,"y":237.22222900390625,"z":"4b6c692b.b49398","wires":[["da7794da.258868"]]},{"id":"6b8174e6.947e8c","type":"function","name":"Turn On","func":"node.send({payload:1})\n\nsetTimeout(function(){\n    node.send({payload: 0})\n}, msg.payload.value*1000)\n\nreturn null;","outputs":1,"noerr":0,"x":615.1041870117188,"y":238.22222900390625,"z":"4b6c692b.b49398","wires":[["b21e5e81.4de1a"]]},{"id":"b21e5e81.4de1a","type":"rpi-gpio out","name":"","pin":"12","set":"","level":"0","out":"out","x":726.1041870117188,"y":184.22222900390625,"z":"4b6c692b.b49398","wires":[]},{"id":"da7794da.258868","type":"switch","name":"","property":"payload.command","rules":[{"t":"eq","v":"play"},{"t":"eq","v":"on"}],"checkall":"true","outputs":2,"x":516.1041870117188,"y":181.22222900390625,"z":"4b6c692b.b49398","wires":[["534a9607.acb568"],["6b8174e6.947e8c"]]},{"id":"c2b661d8.3d49a","type":"debug","name":"","active":true,"console":"false","complete":"false","x":444,"y":122,"z":"4b6c692b.b49398","wires":[]},{"id":"ce4e7d79.31b18","type":"debug","name":"stdout","active":true,"console":"false","complete":"payload","x":929,"y":50,"z":"4b6c692b.b49398","wires":[]},{"id":"fc64e92d.039b18","type":"debug","name":"stderror","active":true,"console":"false","complete":"payload","x":931,"y":91,"z":"4b6c692b.b49398","wires":[]},{"id":"3b93a3c.fc46c5c","type":"debug","name":"exitcode","active":true,"console":"false","complete":"payload","x":933,"y":137,"z":"4b6c692b.b49398","wires":[]},{"id":"534a9607.acb568","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.value"}],"action":"","property":"","from":"","to":"","reg":false,"x":674,"y":136,"z":"4b6c692b.b49398","wires":[["25f78e63.da0872"]]},{"id":"25f78e63.da0872","type":"exec","command":"omxplayer","addpay":true,"append":"","useSpawn":true,"name":"","x":775,"y":79.0000228881836,"z":"4b6c692b.b49398","wires":[["ce4e7d79.31b18"],["fc64e92d.039b18"],["3b93a3c.fc46c5c"]]}]
