lesson7/twittercontrol.json
[{"id":"51435373.aebcac","type":"debug","name":"","active":true,"console":"false","complete":"false","x":793.9999694824219,"y":707.0000228881836,"z":"4b6c692b.b49398","wires":[]},{"id":"f9741721.068be8","type":"twitter in","twitter":"","tags":"#noderedguide","user":"false","name":"","topic":"tweets","x":126,"y":664.0000228881836,"z":"4b6c692b.b49398","wires":[["1ae94660.e516ba"]]},{"id":"318352ee.ce7cae","type":"inject","name":"","topic":"","payload":"#noderedguide on 2","payloadType":"string","repeat":"","crontab":"","once":false,"x":156,"y":751.0000228881836,"z":"4b6c692b.b49398","wires":[["1ae94660.e516ba"]]},{"id":"1ae94660.e516ba","type":"function","name":"Parse","func":"var command = msg.payload.split(' ')[1]; \nvar value = msg.payload.split(' ')[2];\nreturn {\n        payload: {\n            command: command, \n            value: value\n        }\n    };","outputs":1,"noerr":0,"x":299,"y":803.0000228881836,"z":"4b6c692b.b49398","wires":[["53bd0c28.ac42f4"]]},{"id":"53bd0c28.ac42f4","type":"switch","name":"","property":"payload.command","rules":[{"t":"eq","v":"play"},{"t":"eq","v":"on"}],"checkall":"true","outputs":2,"x":413,"y":767.0000228881836,"z":"4b6c692b.b49398","wires":[["7a092d7a.85f6d4"],["affd5475.5002a8"]]},{"id":"f26023d.f0d9fe","type":"inject","name":"#noderedguide play /home/pi/example.mp3","topic":"","payload":"#noderedguide play /home/pi/example.mp3","payloadType":"string","repeat":"","crontab":"","once":false,"x":225,"y":709.0000228881836,"z":"4b6c692b.b49398","wires":[["1ae94660.e516ba"]]},{"id":"affd5475.5002a8","type":"function","name":"Turn On","func":"node.send({payload:1})\n\nsetTimeout(function(){\n    node.send({payload: 0})\n}, msg.payload.value*1000)\n\nreturn null;","outputs":1,"noerr":0,"x":530,"y":806.0000228881836,"z":"4b6c692b.b49398","wires":[["aad9a4.ff55266"]]},{"id":"fcaf322b.0350d","type":"exec","command":"omxplayer","addpay":true,"append":"/home/pi/","useSpawn":true,"name":"","x":647,"y":755.0000228881836,"z":"4b6c692b.b49398","wires":[["51435373.aebcac"],["91afc856.6e5038"],["7f21c34f.80de3c"]]},{"id":"7a092d7a.85f6d4","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.value"}],"action":"","property":"","from":"","to":"","reg":false,"x":521,"y":702,"z":"4b6c692b.b49398","wires":[["fcaf322b.0350d"]]},{"id":"91afc856.6e5038","type":"debug","name":"","active":true,"console":"false","complete":"false","x":805.9999694824219,"y":756.0000152587891,"z":"4b6c692b.b49398","wires":[]},{"id":"7f21c34f.80de3c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":786.9999694824219,"y":799.0000152587891,"z":"4b6c692b.b49398","wires":[]},{"id":"aad9a4.ff55266","type":"rpi-gpio out","name":"","pin":"12","set":"","level":"0","out":"out","x":669,"y":861.0000228881836,"z":"4b6c692b.b49398","wires":[]},{"id":"4038052.fbfc7fc","type":"comment","name":"Music in Pi","info":"https://www.raspberrypi.org/documentation/usage/audio/","x":148,"y":612,"z":"4b6c692b.b49398","wires":[]}]
