lesson7/webtrackingwebsockets.json
[{"id":"d6134ed0.29ecb","type":"websocket-listener","path":"/ws/tracking","wholemsg":"false"},{"id":"fdc78fd0.02387","type":"websocket in","name":"","server":"d6134ed0.29ecb","client":"","x":152,"y":89,"z":"4b6c692b.b49398","wires":[["90c785b3.6f3878"]]},{"id":"90c785b3.6f3878","type":"json","name":"","x":292,"y":37,"z":"4b6c692b.b49398","wires":[["e553d78b.1aac28"]]},{"id":"e553d78b.1aac28","type":"switch","name":"","property":"payload.event","rules":[{"t":"eq","v":"mouseenter"},{"t":"eq","v":"mousedown"}],"checkall":"true","outputs":2,"x":415,"y":90,"z":"4b6c692b.b49398","wires":[["52ceaf39.ad315"],["23691ad6.dc96e6"]]},{"id":"c0b9131f.3f46f","type":"template","name":"","field":"payload","format":"handlebars","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n  <style>\n  #tracking {\n    width: 220px; height: 170px;\n    background: #2980B9;\n  }\n  </style>\n  <script src=\"https://code.jquery.com/jquery-1.10.2.js\"></script>\n</head>\n<body>\n \n<div>\nClick inside the gray div.\n</div>\n\n<div id=\"tracking\"></div>\n \n<script>\nvar wsUri = \"ws://{{req.headers.host}}/ws/tracking\";\nvar ws = new WebSocket(wsUri);\n\n$( \"div#tracking\" ).mouseenter(function( event ) {\n  var payload = { \n      event: \"mouseenter\",\n      timestamp: (new Date()).getTime(),\n      x: event.pageX,\n      y: event.pageY\n  }\n  ws.send(JSON.stringify(payload));\n  $( \"div:first\" ).text( \"Mouse Enter Event \" + JSON.stringify(payload) );\n});\n\n$( \"div#tracking\" ).mousedown(function( event ) {\n  var payload = { \n      event: \"mousedown\",\n      timestamp: (new Date()).getTime(),\n      x: event.pageX,\n      y: event.pageY\n  }\n  ws.send(JSON.stringify(payload));\n  $( \"div:first\" ).text( \"Mouse Event \" + JSON.stringify(payload) );\n});\n</script>\n \n</body>\n</html>\n","x":291,"y":204,"z":"4b6c692b.b49398","wires":[["8531a2ef.7ace6"]]},{"id":"8531a2ef.7ace6","type":"http response","name":"","x":418,"y":246,"z":"4b6c692b.b49398","wires":[]},{"id":"52ceaf39.ad315","type":"debug","name":"MouseEnter","active":true,"console":"false","complete":"payload","x":565,"y":71,"z":"4b6c692b.b49398","wires":[]},{"id":"23691ad6.dc96e6","type":"debug","name":"MouseDown","active":true,"console":"false","complete":"payload","x":569,"y":121,"z":"4b6c692b.b49398","wires":[]},{"id":"3e6c49e.fc193b6","type":"http in","name":"","url":"/tracking","method":"get","swaggerDoc":"","x":164,"y":165,"z":"4b6c692b.b49398","wires":[["c0b9131f.3f46f"]]},{"id":"9a9293f1.656d7","type":"file","name":"","filename":"/home/pi/mouseenter.db","appendNewline":true,"createDir":false,"overwriteFile":"false","x":599,"y":29,"z":"4b6c692b.b49398","wires":[]},{"id":"57ceacc2.a83154","type":"file","name":"","filename":"/home/pi/mousedown.db","appendNewline":true,"createDir":false,"overwriteFile":"false","x":595,"y":164,"z":"4b6c692b.b49398","wires":[]}]
