lesson6/6-2_wordcounter.json
[{"id":"a2f8c676.5d0738","type":"function","name":"Count Words","func":"var outputMsgs = [];\nvar wordMap = {};\n\nvar sentence = msg.payload.replace(/[.,-\\/#!$%\\^&\\*;:{}=\\-_`~()]/g,\"\");\nsentence = sentence.replace(/\\s{2,}/g,\" \");\n\nvar words = sentence.split(\" \");\nfor (var i = 0; i < words.length; i++) {\n  var lowerCaseWord = words[i].toLowerCase();\n  if (!wordMap[lowerCaseWord]) {\n    wordMap[lowerCaseWord] = 1;\n  } else {\n    wordMap[lowerCaseWord] = wordMap[lowerCaseWord] + 1;\n  }\n}\nfor (var prop in wordMap) {\n  if( wordMap.hasOwnProperty( prop ) ) {\n    outputMsgs.push({payload:{word:prop,count:wordMap[prop]}});\n  }\n}\nreturn [outputMsgs];\n","outputs":1,"noerr":0,"x":273.6449203491211,"y":341.0909118652344,"z":"f19c425a.0e63c","wires":[["868fff4.f797"]]},{"id":"868fff4.f797","type":"debug","name":"","active":true,"console":"false","complete":"false","x":378.64490509033203,"y":387.0909118652344,"z":"f19c425a.0e63c","wires":[]},{"id":"3986ab07.c67954","type":"inject","name":"","topic":"","payload":"Ask no questions, and you'll be told no lies.","payloadType":"string","repeat":"","crontab":"","once":false,"x":185.64490509033203,"y":290.0909118652344,"z":"f19c425a.0e63c","wires":[["a2f8c676.5d0738"]]}]
