lesson6/6-5_iteratorsubflow.json
[{"id":"b1d43433.4e2bc8","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"37e57a4f.c81a86"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"37e57a4f.c81a86","port":0}]},{"x":455,"y":259,"wires":[{"id":"37e57a4f.c81a86","port":1}]}]},{"id":"37e57a4f.c81a86","type":"function","name":"Iterate","func":"  var currentMsg = null, outMessage = null;\n  var iState = msg.iState;\n\n  if (!iState) {\n     // we received an initial message \n     // if the message is not an array, make it one\n     if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n           msg.payload = [msg.payload];\n     }\n     iState = {};\n     iState.index = 0;\n     iState.inArray = msg.payload;\n     iState.outArray = [];\n     msg.iState = iState\n   } else {\n    // save results from the last iteration\n     iState.outArray.push(msg.payload)\n }\n  //If there are stil objects left to iterate goto the next one in the original array\n  if (iState.index < iState.inArray.length) {\n    currentMsg = msg;\n    msg.payload = iState.inArray[iState.index];\n  } else {\n    currentMsg = null;\n    outMessage = msg;\n    msg.payload = iState.outArray;\n    delete msg.iState;\n}\n\niState.index ++;\n\nreturn [currentMsg, outMessage];\n","outputs":"2","noerr":0,"x":347,"y":220,"z":"b1d43433.4e2bc8","wires":[[],[]]},{"id":"a2da0590.5d25f8","type":"subflow:b1d43433.4e2bc8","name":"Iterate","x":388.64490509033203,"y":978.0908813476562,"z":"f19c425a.0e63c","wires":[["5ff54e4a.a00ab"],["66ae0bec.9951f4"]]},{"id":"a50c8d0f.5af37","type":"function","name":"[1,2,3,4,5]","func":"msg.payload = [1,2,3,4,5];\nreturn msg;\n","outputs":1,"noerr":0,"x":250.64490509033203,"y":977.0908813476562,"z":"f19c425a.0e63c","wires":[["a2da0590.5d25f8"]]},{"id":"5ff54e4a.a00ab","type":"function","name":"Times 5","func":"msg.payload = msg.payload * 5;\nreturn msg;\n","outputs":1,"noerr":0,"x":384.64490509033203,"y":896.0908813476562,"z":"f19c425a.0e63c","wires":[["a2da0590.5d25f8"]]},{"id":"66ae0bec.9951f4","type":"debug","name":"[5,10,15,20,25]","active":true,"console":"false","complete":"payload","x":552.644905090332,"y":984.0908813476562,"z":"f19c425a.0e63c","wires":[]},{"id":"cd2acff6.32d53","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":196.64490509033203,"y":898.0908813476562,"z":"f19c425a.0e63c","wires":[["a50c8d0f.5af37"]]}]
