lesson6/6-6_apidataearthquake.json
[{"id":"e5ced1c2.1a313","type":"http request","name":"GET Data (Significant 30 days)","method":"GET","ret":"txt","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.geojson","x":217,"y":426,"z":"95e2bcdc.6a1d4","wires":[["555e6573.aaa19c"]]},{"id":"555e6573.aaa19c","type":"json","name":"","x":395,"y":386,"z":"95e2bcdc.6a1d4","wires":[["a19dc27e.5e624"]]},{"id":"a19dc27e.5e624","type":"function","name":"Split & Format","func":"var outputMsgs = [];\n\nfor (i=0;i < msg.payload.features.length - 1;i++) {\n    var feature = msg.payload.features[i];\n    outputMsgs.push(\n        {payload: { lat:feature.geometry.coordinates[1],\n                    lng: feature.geometry.coordinates[0],\n                    value: feature.properties.mag,\n                    message: feature.properties.place,\n                    timestamp: feature.properties.time\n                }\n        });\n}\n\nvar msg2 = {payload: \"Second Output\"}\n\nreturn [ outputMsgs, msg2 ];\n\n","outputs":"2","noerr":0,"x":463,"y":425,"z":"95e2bcdc.6a1d4","wires":[["55b5a2cc.aa4a5c"],["4ce3e47d.b31c1c"]]},{"id":"74725ade.8b8da4","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111,"y":383,"z":"95e2bcdc.6a1d4","wires":[["e5ced1c2.1a313"]]},{"id":"55b5a2cc.aa4a5c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":586,"y":386,"z":"95e2bcdc.6a1d4","wires":[]},{"id":"4ce3e47d.b31c1c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":595,"y":458,"z":"95e2bcdc.6a1d4","wires":[]}]
