lesson6/6-8_functionmultiplemessages.json
[{"id":"a8bb813a.57448","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":92,"y":101,"z":"a2daa01e.5d256","wires":[["26e427d3.d91bd8"]]},{"id":"ab4bf5bb.54b408","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":276.00001525878906,"y":104,"z":"a2daa01e.5d256","wires":[["54a45a62.ab5ba4"]]},{"id":"54a45a62.ab5ba4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":372.0000457763672,"y":157,"z":"a2daa01e.5d256","wires":[]},{"id":"26e427d3.d91bd8","type":"function","name":"","func":"for (var i=0; i<5; i++){\n    node.send({payload:i});\n}\nreturn null;","outputs":1,"noerr":0,"x":175.1999969482422,"y":158.1999969482422,"z":"a2daa01e.5d256","wires":[["ab4bf5bb.54b408"]]}]
