lesson6/contextforsharedfunction.json
[{"id":"5f541b25.a0abe4","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":205.64489445804568,"y":633.9999975527614,"z":"f19c425a.0e63c","wires":[["fc9dfa55.036208"]]},{"id":"fc9dfa55.036208","type":"function","name":"","func":"context.global.hello = function() {return \"Hello There \"};\n\nmsg.payload = context.global.hello();\nreturn msg;","outputs":1,"noerr":0,"x":303.64490509033203,"y":679,"z":"f19c425a.0e63c","wires":[["94b1cb42.6b4e38","93af8c2c.6c507"]]},{"id":"93af8c2c.6c507","type":"function","name":"","func":"msg.payload = context.global.hello() + \"World\";\nreturn msg;","outputs":1,"noerr":0,"x":378.64490509033203,"y":725,"z":"f19c425a.0e63c","wires":[["72afcd24.8d5034"]]},{"id":"94b1cb42.6b4e38","type":"debug","name":"","active":true,"console":"false","complete":"false","x":449.64490509033203,"y":629,"z":"f19c425a.0e63c","wires":[]},{"id":"72afcd24.8d5034","type":"debug","name":"","active":true,"console":"false","complete":"false","x":519.644905090332,"y":680,"z":"f19c425a.0e63c","wires":[]}]
