lesson6/contextforrollingaverage.json
[{"id":"5de4a641.a21b58","type":"inject","name":"Generate Data","topic":"","payload":"","payloadType":"none","repeat":"1","crontab":"","once":false,"x":200.6449203491211,"y":580.0909271240234,"z":"f19c425a.0e63c","wires":[["bfcb2123.4034e"]]},{"id":"bfcb2123.4034e","type":"function","name":"Ramp","func":"if (!context.value) {\n  context.value = 0;\n}\nmsg.payload = {\n  value:context.value\n}\ncontext.value +=1;\nif (context.value > 9) {\n  context.value = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":324.64493560791016,"y":525.0909271240234,"z":"f19c425a.0e63c","wires":[["50ea524.faf15ac"]]},{"id":"50ea524.faf15ac","type":"function","name":"Average 5 Seconds","func":"var currentTime = new Date().getTime();\n\nif (!context.lastTime) {\n    context.lastTime = currentTime;\n    context.sum = msg.payload.value;\n    context.count = 1;\n}\n\nif (currentTime-context.lastTime > 5000) {\n    // calculate average for previous messages\n    msg.payload.average = context.sum/context.count;\n    // start tracking average again\n    context.sum = msg.payload.value;\n    context.count = 1;\n    context.lastTime = currentTime;\n} else {\n    context.sum += msg.payload.value;\n    context.count +=1;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":407.6449020874402,"y":585.0909423828125,"z":"f19c425a.0e63c","wires":[["34c80e75.cb37f2"]]},{"id":"34c80e75.cb37f2","type":"debug","name":"","active":true,"console":"false","complete":"false","x":519.6449356079102,"y":525.0909271240234,"z":"f19c425a.0e63c","wires":[]}]
