lesson6/datafromwebsite.json
[{"id":"9d00f759.62ff08","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126.09944152832031,"y":94.09091186523438,"z":"f19c425a.0e63c","wires":[["b878a8ee.478758"]]},{"id":"b878a8ee.478758","type":"http request","name":"","method":"GET","ret":"txt","url":"http://finance.yahoo.com/market-overview/","x":224.0994415283203,"y":160.09091186523438,"z":"f19c425a.0e63c","wires":[["3ec1b525.c13e4a"]]},{"id":"3ec1b525.c13e4a","type":"html","name":"get indices","tag":".l84","ret":"html","as":"single","x":345.0994415283203,"y":93.09091186523438,"z":"f19c425a.0e63c","wires":[["efae7b78.105188"]]},{"id":"efae7b78.105188","type":"debug","name":"","active":true,"console":"false","complete":"false","x":447.0994415283203,"y":159.09091186523438,"z":"f19c425a.0e63c","wires":[]}]
