lesson6/datafromwebsite2.json
[{"id":"9d00f759.62ff08","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":126.09944152832031,"y":94.09091186523438,"z":"f19c425a.0e63c","wires":[["b878a8ee.478758"]]},{"id":"b878a8ee.478758","type":"http request","name":"","method":"GET","ret":"txt","url":"http://finance.yahoo.com/market-overview/","x":224.0994415283203,"y":160.09091186523438,"z":"f19c425a.0e63c","wires":[["3ec1b525.c13e4a"]]},{"id":"3ec1b525.c13e4a","type":"html","name":"Get Indices","tag":".l84","ret":"html","as":"single","x":330.0994415283203,"y":96.09091186523438,"z":"f19c425a.0e63c","wires":[["b52e6608.4ad198"]]},{"id":"efae7b78.105188","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":570.0994110107422,"y":100.09091186523438,"z":"f19c425a.0e63c","wires":[]},{"id":"b52e6608.4ad198","type":"function","name":"Format Indices","func":"var prices = msg.payload;\n//return msg;\nvar newPayload = [];\nvar priceIndex = ['S&P','Dow','Nasdaq'];\n\nfor (var i=0; i<prices.length; i++) {\n  newPayload.push({\n    index:priceIndex[i],\n    value:Number(prices[i])\n  });\n}\n\nmsg.payload = newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":454.0994415283203,"y":159.09091186523438,"z":"f19c425a.0e63c","wires":[["efae7b78.105188"]]}]
