lesson6/multipleinputs.json
[{"id":"4e99a44c.b1665c","type":"function","name":"Ratio","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null ) {\n\tvar ratio = context.data.task1 / context.data.task2;\n    context.data=null;\n\treturn {payload:ratio};\n} else return msg;","outputs":1,"noerr":0,"x":263.2000427246094,"y":364.40003967285156,"z":"a2daa01e.5d256","wires":[["69c69ad0.963964"]]},{"id":"4e095a12.b1f6a4","type":"inject","name":"","topic":"task1","payload":"3","payloadType":"string","repeat":"","crontab":"","once":false,"x":113.19999694824219,"y":334.2000274658203,"z":"a2daa01e.5d256","wires":[["4e99a44c.b1665c"]]},{"id":"89127d9.f76ed8","type":"inject","name":"","topic":"task2","payload":"4","payloadType":"string","repeat":"","crontab":"","once":false,"x":113.19999694824219,"y":396.2000274658203,"z":"a2daa01e.5d256","wires":[["4e99a44c.b1665c"]]},{"id":"69c69ad0.963964","type":"debug","name":"","active":true,"console":"false","complete":"false","x":418.2000274658203,"y":364.2000274658203,"z":"a2daa01e.5d256","wires":[]}]
