lesson5/5-2_messages.json
[{"id":"29f0ec87.d60f14","type":"function","name":"Test Function","func":"if (msg.payload == \"high\") {\n  return [ msg, null, null ];\n} else if (msg.payload == \"med\") {\n   return [ null, msg, null ];\n} else {\n   return [null, null, msg];\n}\n","outputs":"3","noerr":0,"x":282.09942626953125,"y":134.09091186523438,"z":"72fb2ebf.8d04d","wires":[["8cd24e7b.732db"],["28279339.d7d86c"],["11809ea6.ee7f61"]]},{"id":"c4c20dbd.3b3df","type":"inject","name":"high","topic":"","payload":"high","payloadType":"string","repeat":"","crontab":"","once":false,"x":102.09944152832031,"y":64.09091186523438,"z":"72fb2ebf.8d04d","wires":[["29f0ec87.d60f14"]]},{"id":"a2e577f2.5d1a88","type":"inject","name":"med","topic":"","payload":"med","payloadType":"string","repeat":"","crontab":"","once":false,"x":106.09944152832031,"y":134.09091186523438,"z":"72fb2ebf.8d04d","wires":[["29f0ec87.d60f14"]]},{"id":"d2875a02.2d78a8","type":"inject","name":"low","topic":"","payload":"low","payloadType":"string","repeat":"","crontab":"","once":false,"x":101.09944152832031,"y":204.09091186523438,"z":"72fb2ebf.8d04d","wires":[["29f0ec87.d60f14"]]},{"id":"8cd24e7b.732db","type":"debug","name":"high output","active":true,"console":"false","complete":"payload","x":477.0994415283203,"y":75.09091186523438,"z":"72fb2ebf.8d04d","wires":[]},{"id":"28279339.d7d86c","type":"debug","name":"med output","active":true,"console":"false","complete":"payload","x":476.0994110107422,"y":136.09091186523438,"z":"72fb2ebf.8d04d","wires":[]},{"id":"11809ea6.ee7f61","type":"debug","name":"low output","active":true,"console":"false","complete":"payload","x":476.0994110107422,"y":209.09091186523438,"z":"72fb2ebf.8d04d","wires":[]}]
