lesson5/5-5_subflows.json
[{"id":"5c5dada9.a3a254","type":"subflow","name":"Subflow 1","in":[{"x":42.099456787109375,"y":121.81817626953125,"wires":[{"id":"6b74cd0c.948b34"}]}],"out":[{"x":456.99998474121094,"y":103,"wires":[{"id":"fe7dfac9.018208","port":0}]},{"x":456.99998474121094,"y":168,"wires":[{"id":"fe7dfac9.018208","port":1}]},{"x":458.99998474121094,"y":242,"wires":[{"id":"fe7dfac9.018208","port":2}]}]},{"id":"6b74cd0c.948b34","type":"sentiment","name":"","x":181.09945678710938,"y":121.81817626953125,"z":"5c5dada9.a3a254","wires":[["fe7dfac9.018208"]]},{"id":"fe7dfac9.018208","type":"switch","name":"","property":"payload","rules":[{"t":"lt","v":"0"},{"t":"eq","v":"0"},{"t":"gt","v":"0"}],"checkall":"true","outputs":3,"x":337.0994567871094,"y":169.81817626953125,"z":"5c5dada9.a3a254","wires":[[],[],[]]},{"id":"60da3a43.9f25c4","type":"twitter in","twitter":"","tags":"#hockey, canucks","user":"false","name":"","topic":"tweets","x":129.0994415283203,"y":473.81818041525605,"z":"72fb2ebf.8d04d","wires":[["367bc8fa.c98438"]]},{"id":"367bc8fa.c98438","type":"subflow:5c5dada9.a3a254","name":"","x":297.0994110107422,"y":528.8181762695312,"z":"72fb2ebf.8d04d","wires":[[],[],["9b60ad3b.649f5"]]},{"id":"9b60ad3b.649f5","type":"debug","name":"","active":true,"console":"false","complete":"false","x":452.0993957519531,"y":589.8181762695312,"z":"72fb2ebf.8d04d","wires":[]}]
