lesson5/5-6_packagingfunctions.json
[{"id":"410f706d.bef09","type":"subflow","name":"Subflow 2","in":[{"x":61,"y":76,"wires":[{"id":"3218c26d.cde73e"}]}],"out":[{"x":290.99998474121094,"y":76,"wires":[{"id":"3218c26d.cde73e","port":0}]}]},{"id":"3218c26d.cde73e","type":"function","name":"Counter","func":"if (!context.value) {\n  context.value = 0;\n}\ncontext.value +=1;\nmsg.count = context.value;\nreturn msg;\n","outputs":1,"noerr":0,"x":177.28125,"y":75.72735595703125,"z":"410f706d.bef09","wires":[[]]},{"id":"1c3ada62.e3c526","type":"subflow:410f706d.bef09","name":"Counter","x":279.28125,"y":744.7274475097656,"z":"72fb2ebf.8d04d","wires":[["82c0397f.7d3fc8"]]},{"id":"f3f06c9a.0c0f9","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":166.28125866582573,"y":697.7272661027832,"z":"72fb2ebf.8d04d","wires":[["1c3ada62.e3c526"]]},{"id":"82c0397f.7d3fc8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":408.28125,"y":787.7273254394531,"z":"72fb2ebf.8d04d","wires":[]}]
