lesson5/5-6_context.json
[{"id":"900cc522.6ff338","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114.09944152832031,"y":307.0909118652344,"z":"72fb2ebf.8d04d","wires":[["31f85470.ce07ac"]]},{"id":"31f85470.ce07ac","type":"function","name":"Save Start Time","func":"context.global.startTime = new Date().getTime();\nreturn msg;\n","outputs":1,"noerr":0,"x":211.0994415283203,"y":357.0909118652344,"z":"72fb2ebf.8d04d","wires":[["a8cd7766.573288"]]},{"id":"70311124.8fcef","type":"function","name":"Time Elapsed","func":"var currentTime = new Date().getTime();\nvar timeElapsed = (currentTime - context.global.startTime)/1000;\nmsg.payload = \"Time elapsed is: \"+timeElapsed+\"s\";\nreturn msg;\n","outputs":1,"noerr":0,"x":431.0994415283203,"y":357.0909118652344,"z":"72fb2ebf.8d04d","wires":[["b4f36281.4b0ca"]]},{"id":"a8cd7766.573288","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":324.0994110107422,"y":308.0909118652344,"z":"72fb2ebf.8d04d","wires":[["70311124.8fcef"]]},{"id":"b4f36281.4b0ca","type":"debug","name":"","active":true,"console":"false","complete":"false","x":550.0994415283203,"y":308.0909118652344,"z":"72fb2ebf.8d04d","wires":[]}]
