lesson5/5-7_slackbot.json
[{"id":"948ce996.6b7318","type":"function","name":"Parse Query","func":"var i;\nif (msg.payload !== undefined) {\n  i = msg.payload.indexOf('query');\n  if (i != -1) {\n    msg.query = msg.payload.slice(i+6);\n    return msg;\n  }\n}\nreturn null;","outputs":1,"noerr":0,"x":187,"y":125,"z":"e9240feb.16dbf","wires":[["278d9f79.d8726"]]},{"id":"278d9f79.d8726","type":"http request","name":"","method":"GET","ret":"txt","url":"http://wotkit.sensetecnic.com/api/data?text={{{query}}}","x":270,"y":170,"z":"e9240feb.16dbf","wires":[["b574fc65.4a8b"]]},{"id":"b574fc65.4a8b","type":"json","name":"","x":352,"y":216,"z":"e9240feb.16dbf","wires":[["bab9af62.45465"]]},{"id":"bab9af62.45465","type":"function","name":"Readable Message","func":"if (msg.payload[0] !== undefined) { //API returns an array\n    data = msg.payload[0];\n    dataString = JSON.stringify(data);\n    msg.payload =\n        \"The last data found has a value of \"+data.value+\n        \" and was observed on \" + data.timestamp_iso +\n        \" under sensor \" + data.sensor_name+\n        \"\\n\\nHere is the raw data:\\n\\n\"+dataString;\n    return msg;\n} else {\n    msg.payload = \"Sorry, we couldn’t find any data\"\n    return msg;\n}","outputs":1,"noerr":0,"x":426,"y":261,"z":"e9240feb.16dbf","wires":[["3699d92.fc96626"]]},{"id":"3699d92.fc96626","type":"Slack Bot Out","name":"","apiToken":"","channel":"","x":522,"y":306,"z":"e9240feb.16dbf","wires":[]},{"id":"607d23d1.9f82dc","type":"Slack Bot In","name":"","apiToken":"","channel":"","x":92,"y":79,"z":"e9240feb.16dbf","wires":[["948ce996.6b7318"]]}]
