lesson10/mqqtanalysis.json
[{"id":"6ec4dcef.913b24","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"3e8ffffb.c17","type":"mqtt in","name":"","topic":"noderedbook/sensor","broker":"6ec4dcef.913b24","x":98.5,"y":164,"z":"53cf281b.ac30d8","wires":[["577d3e08.a882c"]]},{"id":"38f15721.c70ea8","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":642.0993804931641,"y":124,"z":"53cf281b.ac30d8","wires":[]},{"id":"3fe23f2d.c01dc","type":"comment","name":"Mqqtdashboard: http://www.mqttdashboard.com/dashboard","info":"http://www.mqttdashboard.com/dashboard\n\nPublish to \"noderedbook\" topic","x":249.09942626953125,"y":352.0909423828125,"z":"53cf281b.ac30d8","wires":[]},{"id":"5d95b616.a26a48","type":"comment","name":"HiveMQ client: http://www.hivemq.com/demos/websocket-client/","info":"http://www.hivemq.com/demos/websocket-client/\n\nDefault host, publish to topic \"noderedbook\"","x":264.09942626953125,"y":394.0909423828125,"z":"53cf281b.ac30d8","wires":[]},{"id":"59932a9.fa66cd4","type":"switch","name":"","property":"payload.analyze","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":282.0993194580078,"y":164.09091186523438,"z":"53cf281b.ac30d8","wires":[["60a333fd.9f5ccc"],["a52d8929.5ad278","19fa0179.e605ff"]]},{"id":"577d3e08.a882c","type":"json","name":"","x":230.09939575195312,"y":114.09091186523438,"z":"53cf281b.ac30d8","wires":[["59932a9.fa66cd4","77cd62e2.88329c"]]},{"id":"77cd62e2.88329c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":292.099365234375,"y":38.090911865234375,"z":"53cf281b.ac30d8","wires":[]},{"id":"b23818f0.4dc7e8","type":"comment","name":"Analyse = true","info":"","x":394.0994110107422,"y":79.09091186523438,"z":"53cf281b.ac30d8","wires":[]},{"id":"5057238.fafa8dc","type":"comment","name":"Analyse = false","info":"","x":396.09938049316406,"y":287.0909118652344,"z":"53cf281b.ac30d8","wires":[]},{"id":"b72e6709.48d198","type":"rbe","name":"rbe","func":"deadband","gap":"20%","x":589.0993804931641,"y":75.09091186523438,"z":"53cf281b.ac30d8","wires":[["38f15721.c70ea8"]]},{"id":"60a333fd.9f5ccc","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.value"}],"action":"","property":"","from":"","to":"","reg":false,"x":412.09938049316406,"y":115.09091186523438,"z":"53cf281b.ac30d8","wires":[["b72e6709.48d198"]]},{"id":"f8b6c28f.07494","type":"range","minin":"0","maxin":"10","minout":"0","maxout":"255","action":"scale","round":false,"name":"","x":554.0993804931641,"y":279.0909118652344,"z":"53cf281b.ac30d8","wires":[["a089cba8.5f7638"]]},{"id":"a52d8929.5ad278","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.value"}],"action":"","property":"","from":"","to":"","reg":false,"x":409.09938049316406,"y":248.09091186523438,"z":"53cf281b.ac30d8","wires":[["f8b6c28f.07494"]]},{"id":"a089cba8.5f7638","type":"debug","name":"","active":true,"console":"false","complete":"false","x":644.0993804931641,"y":228.09091186523438,"z":"53cf281b.ac30d8","wires":[]},{"id":"19fa0179.e605ff","type":"change","name":"","rules":[{"t":"set","p":"payload.note","to":"this is not being analysed"}],"action":"","property":"","from":"","to":"","reg":false,"x":422.09938049316406,"y":210.09091186523438,"z":"53cf281b.ac30d8","wires":[["3eab4a32.c154b6"]]},{"id":"3eab4a32.c154b6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":642.0993804931641,"y":176.09091186523438,"z":"53cf281b.ac30d8","wires":[]}]
