lesson10/mqqt-udp.json
[{"id":"6190927d.9e6f6c","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"f3c9528f.0c36b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":606,"y":184,"z":"e4d6b15b.1b295","wires":[]},{"id":"d0cf79fd.2f3088","type":"udp in","name":"","iface":"","port":"5060","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":152,"y":215,"z":"e4d6b15b.1b295","wires":[["d3009c09.2cff6"]]},{"id":"96038757.69fc78","type":"udp out","name":"","addr":"10.42.0.47","iface":"","port":"5060","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":428,"y":344,"z":"e4d6b15b.1b295","wires":[]},{"id":"80bcb77f.7f4348","type":"inject","name":"","topic":"","payload":"10","payloadType":"string","repeat":"","crontab":"","once":false,"x":225,"y":376,"z":"e4d6b15b.1b295","wires":[[]]},{"id":"e20dff6f.1df2","type":"comment","name":" sendip -p ipv4 -is 1.1.1.1 -p udp -us 5060 -ud 5060 -d \"Hello\" -v 10.42.0.47","info":" sendip -p ipv4 -is {sourceip} -p udp -us {sourceport} -ud {targetport} -d \"Hello\" -v {targetip}","x":351,"y":131,"z":"e4d6b15b.1b295","wires":[]},{"id":"d3009c09.2cff6","type":"rbe","name":"","func":"rbe","gap":"","x":365,"y":251,"z":"e4d6b15b.1b295","wires":[["e8309fc8.17cf6"]]},{"id":"e8309fc8.17cf6","type":"trigger","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"2","extend":false,"units":"s","name":"","x":498,"y":251,"z":"e4d6b15b.1b295","wires":[["1eac610d.e1539f"]]},{"id":"1eac610d.e1539f","type":"rpi-gpio out","name":"","pin":"12","set":"","level":"0","out":"out","x":632,"y":251,"z":"e4d6b15b.1b295","wires":[]},{"id":"75c97877.8a3688","type":"mqtt in","name":"","topic":"topic-15230948","broker":"6190927d.9e6f6c","x":156,"y":270,"z":"e4d6b15b.1b295","wires":[["d3009c09.2cff6"]]},{"id":"f8eb0532.0714f8","type":"mqtt out","name":"","topic":"topic-15230948","qos":"","retain":"","broker":"6190927d.9e6f6c","x":413,"y":403,"z":"e4d6b15b.1b295","wires":[]}]
