lesson10/mqqtanalysis.json
[{"id":"6ec4dcef.913b24","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"3e8ffffb.c17","type":"mqtt in","name":"","topic":"noderedlecture/sensor","broker":"6ec4dcef.913b24","x":122.5,"y":130,"z":"53cf281b.ac30d8","wires":[["577d3e08.a882c"]]},{"id":"38f15721.c70ea8","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":666.0993804931641,"y":90,"z":"53cf281b.ac30d8","wires":[]},{"id":"3fe23f2d.c01dc","type":"comment","name":"Mqqtdashboard: http://www.mqttdashboard.com/dashboard","info":"http://www.mqttdashboard.com/dashboard\n\nPublish to \"noderedbook\" topic","x":599.0993499755859,"y":367.0909423828125,"z":"53cf281b.ac30d8","wires":[]},{"id":"5d95b616.a26a48","type":"comment","name":"HiveMQ client: http://www.hivemq.com/demos/websocket-client/","info":"http://www.hivemq.com/demos/websocket-client/\n\nDefault host, publish to topic \"noderedbook\"","x":610.0993499755859,"y":410.0909423828125,"z":"53cf281b.ac30d8","wires":[]},{"id":"59932a9.fa66cd4","type":"switch","name":"","property":"payload.analyze","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":306.0993194580078,"y":130.09091186523438,"z":"53cf281b.ac30d8","wires":[["60a333fd.9f5ccc"],["19fa0179.e605ff","a52d8929.5ad278"]]},{"id":"577d3e08.a882c","type":"json","name":"","x":234.09939575195312,"y":72.09091186523438,"z":"53cf281b.ac30d8","wires":[["59932a9.fa66cd4"]]},{"id":"b23818f0.4dc7e8","type":"comment","name":"Analyze = true","info":"","x":427.0994110107422,"y":42.090911865234375,"z":"53cf281b.ac30d8","wires":[]},{"id":"5057238.fafa8dc","type":"comment","name":"Analyze = false","info":"","x":420.09938049316406,"y":253.09091186523438,"z":"53cf281b.ac30d8","wires":[]},{"id":"b72e6709.48d198","type":"rbe","name":"rbe","func":"deadband","gap":"20%","x":613.0993804931641,"y":41.090911865234375,"z":"53cf281b.ac30d8","wires":[["38f15721.c70ea8"]]},{"id":"60a333fd.9f5ccc","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.value"}],"action":"","property":"","from":"","to":"","reg":false,"x":436.09938049316406,"y":81.09091186523438,"z":"53cf281b.ac30d8","wires":[["b72e6709.48d198"]]},{"id":"f8b6c28f.07494","type":"range","minin":"0","maxin":"10","minout":"0","maxout":"255","action":"clamp","round":false,"name":"","x":578.0993804931641,"y":245.09091186523438,"z":"53cf281b.ac30d8","wires":[["a089cba8.5f7638"]]},{"id":"a52d8929.5ad278","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"msg.payload.value"}],"action":"","property":"","from":"","to":"","reg":false,"x":433.09938049316406,"y":214.09091186523438,"z":"53cf281b.ac30d8","wires":[["f8b6c28f.07494"]]},{"id":"a089cba8.5f7638","type":"debug","name":"","active":true,"console":"false","complete":"false","x":668.0993804931641,"y":194.09091186523438,"z":"53cf281b.ac30d8","wires":[]},{"id":"19fa0179.e605ff","type":"change","name":"","rules":[{"t":"set","p":"payload.note","to":"this is not being analysed"}],"action":"","property":"","from":"","to":"","reg":false,"x":448.099365234375,"y":171.09091186523438,"z":"53cf281b.ac30d8","wires":[["3eab4a32.c154b6"]]},{"id":"3eab4a32.c154b6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":666.0993804931641,"y":142.09091186523438,"z":"53cf281b.ac30d8","wires":[]},{"id":"84b97eed.7b468","type":"mqtt out","name":"","topic":"noderedlecture/sensor","qos":"","retain":"","broker":"6ec4dcef.913b24","x":348.0994110107422,"y":320.0909118652344,"z":"53cf281b.ac30d8","wires":[]},{"id":"de76eb60.218918","type":"inject","name":"","topic":"","payload":"{\"analyze\":false, \"value\":6}","payloadType":"string","repeat":"","crontab":"","once":false,"x":129.0994415283203,"y":295.0909118652344,"z":"53cf281b.ac30d8","wires":[["84b97eed.7b468"]]},{"id":"ff37d1f9.00c83","type":"inject","name":"","topic":"","payload":"{\"analyze\":true, \"value\":6}","payloadType":"string","repeat":"","crontab":"","once":false,"x":129.0994415283203,"y":356.0909118652344,"z":"53cf281b.ac30d8","wires":[["84b97eed.7b468"]]}]
