lesson10/mqqt-udp.json
[{"id":"6190927d.9e6f6c","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"b293e92a.4d6c18","type":"rpi-gpio out","name":"","pin":"12","set":"","level":"0","out":"out","x":538.9999542236328,"y":84,"z":"ff579889.00a868","wires":[]},{"id":"fe3fc7d4.01c038","type":"udp in","name":"","iface":"","port":"5060","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":81,"y":39,"z":"ff579889.00a868","wires":[["37adadf8.c85252"]]},{"id":"87368bd9.78c978","type":"udp out","name":"","addr":"10.42.0.47","iface":"","port":"5060","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":349.9999542236328,"y":189,"z":"ff579889.00a868","wires":[]},{"id":"2326dcba.dcd924","type":"inject","name":"","topic":"","payload":"50","payloadType":"string","repeat":"","crontab":"","once":false,"x":123.99996948242188,"y":240,"z":"ff579889.00a868","wires":[[]]},{"id":"37adadf8.c85252","type":"rbe","name":"if it change > 50%","func":"deadband","gap":"50%","x":280.99998474121094,"y":85,"z":"ff579889.00a868","wires":[["67531df2.98ace4"]]},{"id":"67531df2.98ace4","type":"trigger","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"2","extend":false,"units":"s","name":"","x":430.9999542236328,"y":39,"z":"ff579889.00a868","wires":[["b293e92a.4d6c18"]]},{"id":"26fbca65.d90436","type":"mqtt in","name":"","topic":"topic-15230948","broker":"6190927d.9e6f6c","x":98,"y":141,"z":"ff579889.00a868","wires":[["37adadf8.c85252"]]},{"id":"7e47e451.81b81c","type":"mqtt out","name":"","topic":"topic-15230948","qos":"","retain":"","broker":"6190927d.9e6f6c","x":334.9999084472656,"y":288,"z":"ff579889.00a868","wires":[]},{"id":"b73ba764.48c458","type":"tcp in","name":"","server":"server","host":"","port":"2345","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":78.09944152832031,"y":89.09091186523438,"z":"ff579889.00a868","wires":[["37adadf8.c85252"]]},{"id":"1768cf.ffe89731","type":"tcp out","host":"localhost","port":"2345","beserver":"client","base64":false,"end":false,"name":"","x":343.0993957519531,"y":236.09091186523438,"z":"ff579889.00a868","wires":[]}]
