lesson10/tcprequest.json
[{"id":"23fa21f1.dc05de","type":"tcp request","server":"www.google.com","port":"80","out":"time","splitc":"1000","name":"","x":241.99984741210938,"y":131.0909194946289,"z":"b7bbf3c7.48441","wires":[["7bcbd7c9.843428"]]},{"id":"3f8055d.fc07faa","type":"inject","name":"","topic":"","payload":"GET / HTTP/1.1\\r\\n\\r\\nHost: www.google.com","payloadType":"string","repeat":"","crontab":"","once":false,"x":94,"y":33.0909423828125,"z":"b7bbf3c7.48441","wires":[["da6be638.259418"]]},{"id":"8e76964b.718968","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":456.9999542236328,"y":217.09092712402344,"z":"b7bbf3c7.48441","wires":[]},{"id":"7bcbd7c9.843428","type":"function","name":"Parse response buffer into string","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":342.9999694824219,"y":174.0909194946289,"z":"b7bbf3c7.48441","wires":[["8e76964b.718968"]]},{"id":"da6be638.259418","type":"function","name":"Set GET request string","func":"msg.payload = \"GET / HTTP/1.1\\r\\n\\r\\nHost: www.google.com\"\nreturn msg;","outputs":1,"noerr":0,"x":151,"y":88.0909423828125,"z":"b7bbf3c7.48441","wires":[["23fa21f1.dc05de"]]},{"id":"3e0866b1.c1f79a","type":"comment","name":"http://tools.ietf.org/html/rfc2616#section-5.1.2","info":"http://tools.ietf.org/html/rfc2616#section-5.1.2","x":194.99996948242188,"y":294.0909423828125,"z":"b7bbf3c7.48441","wires":[]}]
