lesson10/webtracking.json
[{"id":"ed474722.12b8b8","type":"websocket-listener","path":"/ws/tracking","wholemsg":"false"},{"id":"1ae09dd4.e51f62","type":"websocket in","name":"","server":"ed474722.12b8b8","client":"","x":130,"y":192,"z":"8a6a9b75.759568","wires":[["997ff65a.668008"]]},{"id":"f7e349db.081cb8","type":"file","name":"","filename":"/home/pi/mouseenter.db","appendNewline":true,"createDir":false,"overwriteFile":"false","x":497.9999694824219,"y":103,"z":"8a6a9b75.759568","wires":[]},{"id":"9ceed3db.63113","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":459,"y":145,"z":"8a6a9b75.759568","wires":[]},{"id":"c6763e7c.3989c","type":"http in","name":"","url":"/tracking","method":"get","swaggerDoc":"","x":123,"y":270,"z":"8a6a9b75.759568","wires":[["b5e0d85e.4a1f28"]]},{"id":"b5e0d85e.4a1f28","type":"template","name":"An HTML Page.","field":"","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Tracking Demo</title>\n  <style>\n  #tracking {\n    width: 220px; height: 170px;\n    margin: 10px 10px ;\n    background: #2980B9;\n  }\n  </style>\n  <script src=\"https://code.jquery.com/jquery-1.10.2.js\"></script>\n</head>\n<body>\n \n<div>\nClick inside the gray div.\n</div>\n\n<div id=\"tracking\"></div>\n \n<script>\nvar wsUri = \"ws://{{req.headers.host}}/ws/tracking\";\nvar ws = new WebSocket(wsUri);\n\n$( \"div#tracking\" ).mouseenter(function( event ) {\n  var payload = { \n      event: \"mouseenter\",\n      timestamp: (new Date()).getTime(),\n      x: event.pageX,\n      y: event.pageY\n  }\n  ws.send(JSON.stringify(payload));\n  $( \"div:first\" ).text( \"Mouse Enter Event \" + JSON.stringify(payload) );\n});\n\n$( \"div#tracking\" ).mousedown(function( event ) {\n  var payload = { \n      event: \"mousedown\",\n      timestamp: (new Date()).getTime(),\n      x: event.pageX,\n      y: event.pageY\n  }\n  ws.send(JSON.stringify(payload));\n  $( \"div:first\" ).text( \"Mouse Event \" + JSON.stringify(payload) );\n});\n</script>\n \n</body>\n</html>\n","x":258,"y":324,"z":"8a6a9b75.759568","wires":[["9cd9c1cd.63264"]]},{"id":"9cd9c1cd.63264","type":"http response","name":"","x":384,"y":372,"z":"8a6a9b75.759568","wires":[]},{"id":"4499cebc.bb663","type":"switch","name":"","property":"payload.event","rules":[{"t":"eq","v":"mouseenter"},{"t":"eq","v":"mousedown"}],"checkall":"true","outputs":2,"x":328,"y":189,"z":"8a6a9b75.759568","wires":[["9ceed3db.63113"],["95bbff31.6a44"]]},{"id":"95bbff31.6a44","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":457,"y":282,"z":"8a6a9b75.759568","wires":[]},{"id":"997ff65a.668008","type":"json","name":"","x":246,"y":137,"z":"8a6a9b75.759568","wires":[["4499cebc.bb663"]]},{"id":"d6a6fd47.2959","type":"file","name":"","filename":"/home/pi/mousedown.db","appendNewline":true,"createDir":false,"overwriteFile":"false","x":506,"y":241,"z":"8a6a9b75.759568","wires":[]}]
